body {background-color:black;text-align: center;}
#h1 {text-align: center;color: goldenrod;font-family: 'Times New Roman'}
#StyleImage {
    border: goldenrod;
    border-width: 0.2ch;
    border-style: outset}
#h2 {color: goldenrod;font-size:20px}
.styledFont {color: whitesmoke;
font-family: 'Times New Roman'}

